{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>AutoMobile</title>
<link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/bootstrap-theme.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/iconmoon.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/chosen.css' %}" rel="stylesheet">
<link href="{% static 'style.css' %}" rel="stylesheet">
<link href="{% static 'cs-automobile-plugin.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/color.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/widget.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet">

<script src="{% static 'assets/scripts/jquery.js' %}"></script>
<script src="{% static 'assets/scripts/modernizr.js' %}"></script>
<script src="{% static 'assets/scripts/bootstrap.min.js' %}"></script>

